@import "../../global.scss";

.modal{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    top: 0;
    left: 0;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

    .container{
            width: auto;
            min-width: 95%;
            max-width: 95%;
            min-height: 90%;
            max-height: 90%;
            height: auto;
            border-radius: 15px 0 15px 0;
            background-color: $mainColor;
            display: flex;
            flex-direction: column;
            padding: 1%;
            position: relative;
    
            .title{
                display: flex;
                justify-content: center;
                align-items: center;
                h1{
                    color: #ffffff;
                }
            }
            .title-button{
                position: absolute;
                top: 0;
                right: 0;
                margin-top: 1%;
                margin-right: 3%;

                button{
                    background-color: transparent;
                    border: none;
                    font-size: 25px;
                    color: #ffffff;
                    cursor: pointer;
                }
            }
            .body-container{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .body{
                    width: 90%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    flex-direction: row;
                    flex-wrap: wrap;
                    position: absolute;
                    top: 100px;

                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 20px 0 0 20px;
                    }
                }
            }
    }
}

.modal-background{

        .modal-box{
            
            
            

            .footer{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 5%;
                button{
                    width: 25%;
                    background-color: #ffffff;
                    color: orangered;
                }
            }
        }
    }